.jumbotron {
    background-color: #9675CE;
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    color:floralwhite;
}

address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

.footer{
    background-color: 	#D0C4E8
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark{
    background-color: rgb(149, 208, 247)
}